{% include header.html %}

<div class="row mt-4">
    <div class="col-sm-12 col-md-12 col-lg-12">
        ZSS ONE theme has multiple homepage styles. <br />
        You can easily switch between them after you purchase it.
        Meanwhile you can check them out here: <br />
        - You are viewing Style 1 multi-purpose masonry design, but you can see another working demo <a href="https://www.afkology.com" target="_blank">here</a><br />
        - Style 2 (clean article list design) demo can be accessed <a href="https://www.weinspire.tech" target="_blank">here</a> <br />
        - Style 3 (landing page) demo can be accessed <a href="https://www.zeespire.com" target="_blank">here</a> <br />
        - You can also add your own styles. <br />
        <a href="https://www.shop.zeespire.com" target="_blank">Go to checkout page.</a>
    </div>
</div>
<div class="row mt-4">    
    {% for post in paginator.posts %}
    <div class="col-sm-12 col-md-6 col-lg-4 mb-2 mt-2">
        <div class="card">
            <a class="card-text" href="{{ site.url }}{{ post.url }}"><img src="{{ site.url }}{{ post.featured-image-home }}"  class="card-img-top" alt="{{ post.title }}"></a>
            <div class="card-body">
                {% if site.show-posts-date %}<div class="text-center fw-lighter text-muted" >{{ post.published }}</div>{% endif %}
                <div class="text-center"><a class="card-text" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% include footer.html %}